html{
    padding: 0 400px;
    background-color: #3fbfb48c;
}

body{

}
p{
    font-size: 30px;
    font-family: fantasy;
}

h1{
    font-size: 70px;
    text-align: center;
    letter-spacing: 5px;
    
}
h2{
    font-size: 50px;
    text-align: center;
    letter-spacing:  3px;
}



img[alt="陳柏全與老皮"]{
    display:block;
    margin:0 auto;
    width: 700px;
    height: 1000px;
}

img[alt="陳柏全穿制服"],img[alt="陳柏全中風"]{
    
    
    width: 526px;
    height: 1000px;
}

img {
    width: 526px;
    height: 1000px;
}