html{
    font-size: 30px;
    background-color: #FF999A;
    
}  
body{
    margin : 10px 50px 0 50px ;
    
    background-color: #99E5FF;
    
    padding: 0px 10px 0 10px ;
    
    border: 3px solid black;
}
h1{
    font-size: 100px;
    
    margin : 10px 50px;
    
    background-color: #FF999A ;
    padding: 0 10px 0 10px;
    text-align: center;
    border: 3px solid black;
    
}

p,li{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    padding: 0 0 0 5px;
    
}



